.u-section-1 .u-sheet-1 {
  min-height: 146px;
}

.u-section-1 .u-text-1 {
  width: 740px;
  margin: 21px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1957px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 540px;
  width: 960px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 540px;
  width: 960px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-custom-html-3 {
  height: auto;
  min-height: 540px;
  width: 960px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    width: 940px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 940px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 720px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 340px;
  }
}