.u-section-1 .u-sheet-1 {
  min-height: 135px;
}

.u-section-1 .u-text-1 {
  margin: 20px 295px 0 200px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 550px;
    margin-left: 100px;
    margin-right: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 466px;
}

.u-section-2 .u-text-1 {
  margin: 0 295px 60px 200px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 550px;
    margin-left: 100px;
    margin-right: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}